/* Общие стили для контейнера */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Шапка страницы */
.header {
  text-align: center;
  color: #343a40;
  margin: 20px 0;
}

/* Контейнер для календаря */
.calendar-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 500px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

/* Стили для формы */
.reservation-form {
  max-width: 480px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.reservation-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0c0c0c;
}

.reservation-form select,
.reservation-form button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
}

.reservation-form select {
  background-color: white;
}

.reservation-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.reservation-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.reservation-form .back-button {
  background-color: #6c757d;
}

.reservation-form .back-button:hover {
  background-color: #5a6268;
}

/* Стили для доступного времени */
.available-times-header {
  text-align: center;
  color: #343a40;
  margin: 20px 0;
}

.available-times-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 480px; /* Ограничивает ширину списка, чтобы выровнять по центру */
}

.available-times-list li {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

/* Дополнительные стили для улучшения внешнего вида */
.tile-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.tile-indicator--fully-reserved {
  background-color: red;
}

.tile-indicator--partial {
  background-color: yellow;
}

.tile-indicator--free {
  background-color: green;
}
