.menu-container {
    padding-top: 20px;
  }
  
  .menu-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .carousel .slide {
    background: none;
  }
  